<html>

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="planet in planets">{{ planet.name }}, {{planet.oxygenLevel}}</li>
        </ul>
        Planet:<input type="text" v-model="planetName"><br>
        Oxygen level:<input type="number" v-model="oxygenLevel"><br>
        <button @click="addPlanet" >Add planet</button>
    </div>
    <script>
        const { createApp, ref, reactive } = Vue
        createApp({
            setup() {
                const newPlanet = reactive({
                    name: "",
                    oxygenLevel: 0
                })
                const planetName = ref("");
                const oxygenLevel = ref(0);
                const planets = reactive([
                    {
                        name: "Earth",
                        oxygenLevel: 21
                    },
                    {
                        name: "Saturn",
                        oxygenLevel: 0.05
                    }
                ]);
                const addPlanet = () => {
                    planets.push({name: planetName.value, oxygenLevel: oxygenLevel.value});
                    console.log(planets);
                }
                return {
                    planets,
                    planetName,
                    oxygenLevel,
                    addPlanet,
                }
            }
        }).mount('#app')
    </script>
</body>

</html>