<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="bg-dark text-white p-1">
        <div class="d-flex flex-column">
            <span v-for="planet in planets" class="m-1 bg-secondary p-1 rounded">{{ planet.name }}, {{planet.oxygenLevel}}</span>
        </div>
        <div class="d-flex flex-column">
            <div>
                Planet: <input type="text" v-model="newPlanet.name"><br>
            </div>
            <div>
                Oxygen level: <input type="number" v-model="newPlanet.oxygenLevel"><br>
            </div>
            <button @click="addPlanet" class="w-100 btn btn-primary btn-sm mt-1">Add planet</button>
        </div>
    </div>
    <script>
        const { createApp, ref, reactive } = Vue
        createApp({
            setup() {
                const newPlanet = reactive({
                    name: "",
                    oxygenLevel: 0
                })
                const planetName = ref("");
                const oxygenLevel = ref(0);
                const planets = reactive([
                    {
                        name: "Earth",
                        oxygenLevel: 21
                    },
                    {
                        name: "Saturn",
                        oxygenLevel: 0.05
                    }
                ]);
                const addPlanet = () => {
                    planets.push({ name: newPlanet.name, oxygenLevel: newPlanet.oxygenLevel });
                    console.log(planets);
                }
                return {
                    planets,
                    planetName,
                    newPlanet,
                    oxygenLevel,
                    addPlanet,
                }
            }
        }).mount('#app')
    </script>
</body>

</html>